extends layout

block script
    script.
            $(function () {
            var socket = io();
            socket.on('update table', function(msg){
              $('#sensor_table tr:first').after(msg);
             });
           });
block content
    function reverseTableRows(tableId) {
         var table = document.getElementById(tableId),
         newTbody = document.createElement('tbody'),
         oldTbody = table.tBodies[0],
         rows = oldTbody.rows,
         i = rows.length - 1;
    
         while (i >= 0) {
             newTbody.appendChild(rows[i]);
             i -= 1;
     }
     oldTbody.parentNode.replaceChild(newTbody, oldTbody);
    };
    h1= title
    table(id='sensor_table' border=1 onload=reverseTableRows('sensor_table'))
        tr
            th Measure Unit
            th Time
            th Temperature
            th Humidity
        for result in results
            tr
                td #{ result.measure_unit.name }
                td #{ result.log_date }
                td #{ result.temperature }
                td #{ result.humidity }

        
