extends layout

block script
    script.
            $(function () {
            var socket = io();
            socket.on('update table', function(msg){
              $('#sensor_table tr:first').after(msg);
             });
           });
block content
    h1= title
    for result in results
        - result.temperature = parseInt(Math.round(result.temperature));
        - result.humidity = parseInt(Math.round(result.humidity));
    div(style='overflow-x:auto;')
        table(id='sensor_table' border=0)
            tr
                th Measure Unit
                th Time
                th Temperature
                th Humidity
            for result in results
                tr
                    td #{ result.measure_unit.name }
                    td #{ result.log_date }
                    td #{ result.temperature } &#8451
                    td #{ result.humidity }%

        
