extends layout

block script
    script.
            $(function () {
            var socket = io();
            socket.on('update table', function(msg){
              $('#sensor_table tr:first').after(msg);
             });
           });
block content
    h1= title
    for result in results
        - result.temperature = parseInt(Math.round(result.temperature));
        - result.humidity = parseInt(Math.round(result.humidity));
    script.
        var chartData = !{JSON.stringify(results).replace(/<\//g, '<\\/')}
        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "useGraphSettings": true
            },
            "dataProvider": chartData,
            "synchronizeGrid":true,
            "valueAxes": [{
                "id":"v1",
                "axisColor": "#FF6600",
                "axisThickness": 2,
                "axisAlpha": 1,
                "position": "left"
            }, {
                "id":"v2",
                "axisColor": "#FCD202",
                "axisThickness": 2,
                "axisAlpha": 1,
                "position": "right"
            }],
            "graphs": [{
                "valueAxis": "v1",
                "lineColor": "#FF6600",
                "bullet": "round",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "Temperature",
                "valueField": "temperature",
               "fillAlphas": 0
            }, {
                "valueAxis": "v2",
                "lineColor": "#2668f1",
                "bullet": "square",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "yellow line",
                "valueField": "humidity",
               "fillAlphas": 0
            }],
            "chartScrollbar": {},
            "chartCursor": {
                "categoryBalloonDateFormat": "JJ:NN, DD MMMM",
                "cursorPosition": "mouse"
            },
            "categoryField": "log_date",
            "categoryAxis": {
                "minPeriod": "ss",
                "parseDates": true,
                "axisColor": "#DADADA",
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true,
                "position": "bottom-right",
                "dateFormat": "YYYY-MM-DD HH:NN:SS"
            }
        });
        chart.addListener("dataUpdated", zoomChart);
        zoomChart();
        function zoomChart() { chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1); };
    div(id="chartdiv")
    div(style='overflow-x:auto;')
        table(id='sensor_table' border=0)
            tr
                th Measure Unit
                th Time
                th Temperature
                th Humidity
            for result in results
                tr
                    td #{ result.measure_unit.name }
                    td #{ result.log_date }
                    td #{ result.temperature } &#8451
                    td #{ result.humidity }%

        
